* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --xs: 12px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 20px;
  --2xl: 24px;
  --3xl: 30px;
  --4xl: 36px;
  --5xl: 48px;
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-blue: #73ade7;
}

header {
  background-color: #161616;
}
/* .nav-f {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
} */
.container-nav {
  padding: 0 var(--md);
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.container-nav .left {
  margin-left: 10px;
  gap: var(--4xl);
  display: flex;
  width: 100%;
}
/* .right {
  margin-right: 10px;
  gap: var(--4xl);
  display: flex;
} */
.barra-nav {
  width: 700px;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
}

.logo {
  width: 109px;
  height: 78px;
}

.logo:hover {
  transform: scale(1.1);
}
.menu {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.menu:hover {
  background-color: #252525ee;
}
.menu__text {
  color: white;
  font-size: 20px;
}
.line-ab {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 28px;
  gap: 7px;
  align-items: center;
  justify-content: center;
}
.line {
  background-color: white;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all .5s;
  transform-origin: left;
}
.menu:hover > .line-ab > div:first-child {
  transform: rotate(45deg);
}
.menu:hover > .line-ab > div:nth-child(2) {
  opacity: 0;
}
.menu:hover > .line-ab > div:last-child {
  transform: rotate(-45deg);
}
.nav-link {
  display: flex;
  /* flex-wrap: inherit; */
  align-items: center;
  justify-content: end;
  gap: var(--xl);
  margin-right: 200px;
}

.nav-link  a {
  color: white;
  text-align: center;
  font-size: var(--xl);
  font-weight: 200;
  transition: 0.3s linear;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s ease;
  display: inline-block;
  padding: 0.5rem 1rem;


}

.nav-carrito {
  cursor: pointer;
  position: relative;
  color: white;
}
.nav-carrito:hover {
  background-color: #252525ee;
  scale: 1.03;
}
.nav-carrito div{
  width: 16px;
  height: 16px;
  background-color:var(--hospital-blue);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}
.iniciar-sesion {
  padding: 0.5rem 1rem;
  cursor: pointer;

}
.iniciar-sesion:hover {
  background-color: #252525ee;
  scale: 1.03;
}

/* input{
  width: 100%;
  height: 30px;
  margin: 0 5px;
  border: none;
}
input:focus {
  outline: none;
} */
/* .barra-busqueda {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
} */
/* .barra_busqueda{
  width: 80%;
  margin: 15px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border-style: solid;
  background-color: white;
}
.barra_busqueda input {
  font-size: 16px;
} */
/* .icon{
  display:grid;
  align-content: center;
  color: gray;
  height: 24px;
  width: 24px;
} */

/* portada */

.portada {
  background-image: url("assets/image/portada.png");
  background-size: cover;
  min-height: calc(102vh - 108px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada h1 {
  color: white;
  font-size: 28px;
  border-radius: 6px;
  flex-shrink: 0;
  font-weight: 200;
}
.button-comprar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.557);
  color: white;
  display: flex;
  width: 280px;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 30px;
  transition: all 0.3s ease;
  text-decoration: none;

}
.nav-carrito {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.button-comprar :hover {
  scale: 1.03;
}
.button-comprar:active {
  transform: scale(1.1);
}
.button-comprar span {
  font-size: 24px;
}

.carrito-button {
  width: 34px;
  height: 36px;
  align-items: center;
}

/* EXLUSIVIDAD  */

.exclusividad {
  background-color: #161616;
  padding-bottom: 100px;
}
.exclusividad h2 {
  text-align: center;
  color: white;
  font-family: Roboto Serif;
  font-size: 34px;
  font-style: normal;
  line-height: normal;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-exclusivo {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 32px;
}
.section-exclusive {
  height: 346px;
  width: 233px;
}

.card-exclusivo {
  /* border: 0.5px solid white; */
  /* overflow-x: auto;
 scroll-behavior: smooth;
 display: flex; */
  /* text-align: center;
 place-items: center;
 align-items: center;
 justify-content: center;
 text-align: center; */
  border: 1px solid white;
  /* height: 346px; */
  width: 233px;
  height: 100%;
}
/* Exclusividad  */

.exclusividad {
  background-color: #161616;
  padding-bottom: 100px;
}
.exclusividad h2 {
  text-align: center;
  color: white;
  font-family: Roboto Serif;
  font-size: 34px;
  font-style: normal;
  line-height: normal;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-exclusivo {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 32px;
}
.section-exclusive {
  height: 346px;
  width: 233px;
}

.card-exclusivo {
  /* border: 0.5px solid white; */
  /* overflow-x: auto;
 scroll-behavior: smooth;
 display: flex; */
  /* text-align: center;
 place-items: center;
 align-items: center;
 justify-content: center;
 text-align: center; */
  border: 1px solid white;
  /* height: 346px; */
  width: 233px;
  height: 100%;
}
/* Exclusividad  */
.nombre-esclusivo {
  text-align: center;
}
.producto-exclusivo-info {
  text-align: center;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.producto-exclusivo-info h3 {
  font-weight: 200;
  font-size: 14px;
  padding: 10px;
}
.producto-exclusivo-info p {
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 10px;
}

.select-exclusivo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.select-exclusivo select {
  width: 127px;
  height: 20px;
  align-items: first baseline;
  font-size: 14px;
}
.carrito {
  background-color: black;
  width: 70px;
  height: 40%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.carrito:hover {
  transform: scale(1.2);
}
.carrito img {
  width: 16px;
  height: 14px;
}

/* .card h3 {
  color: white;
  font-family: Roboto serif;
  font-weight: 200;
  align-items: center;
  text-align: center; */

.card-parrafo {
  color: white;
  font-family: Roboto serif;
  font-weight: 200;
}

/* SECTION VERSATILIDAD */

.container-versatilidad {
  background-color: white;
  padding-bottom: 100px;
  text-align: center;
}
.versatilidad {
  text-align: center;
  font-weight: 200;
  padding-top: 50px;
  padding-bottom: 50px;
}
.versatilidad h3 {
  font-size: 32px;
  font-family: serif;
}
.galeria-v {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.img1 { grid-area: 1 / 1 / 3 / 2; }
.img2 { grid-area: 1 / 2 / 2 / 3; }
.img3 { grid-area: 2 / 2 / 3 / 3; }
.img4 { grid-area: 1 / 3 / 2 / 4; }
.img5 { grid-area: 2 / 3 / 3 / 4; }
.img6 { grid-area: 1 / 4 / 3 / 5; }

/* CATALOGO */

.catalogo {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #161616;
}

.para-ellos {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 80px;
  color: white;
  padding-bottom: 50px;
}
.para-ellos img {
  width: 358px;
  height: 500px;
}

.para-ellos a {
  font-family: Roboto Serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  border: 1px solid white;
}
.bg-el {
  display:inline-block;
  position:relative;
}
.bg-el a {
  position: absolute;
  bottom:10px;
  left:90px;
  background-color:#161616c1;
  border-radius:10px;
  color:white;
  text-transform:uppercase;
  padding:10px 20px;
}


.bg-ella {
  display:inline-block;
  position:relative;
}
.bg-ella a {
  position: absolute;
  top:10px;
  right:90px;
  background-color:#161616c1;
  border-radius:10px;
  color:white;
  text-transform:uppercase;
  padding:10px 20px;
}
.bg-ella a hover {
  scale: 1.2;
}
.bg-niños {
  display: inline-block;
  position: relative;
}
.bg-niños a {
    position: absolute;
    bottom:10px;
    left: 90px;
    background-color:#161616c1;
    border-radius:10px;
    color:white;
    text-transform:uppercase;
    padding: 10px;
  }

/* .el,
.ella {
  background-color: #161616c1;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
} */

.bt-catalogo {
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.bt-catalogo hover {
  scale: 1.03;
}
/* .bt-catalogo:active {
  transform: scale(1.1);
} */
/* nuestras marcas */
.nuestras-marcas {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #16161615;
  margin-top: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.nuestras-marcas h3 {
  font-size: 34px;
  padding-bottom: 40 px;
}
/* .img-marcas {
} */
.marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/* Contacto */
.container-contacto {
  background-color: #161616;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 200px;
  padding: 50px;
  font-family: serif;
  margin-top: 30px;
}
.t-formulario {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;

}
.i-registro {
  width: 423px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 10px;
  align-items: start;
  margin-bottom: 8px;
  border: none;
}
.i-ayuda {
  width: 423px;
  height: 140px;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
}
.p-formulario {
  text-align: start;
  margin-top: 5px ;
}
.btn-enviar {
  margin: 8px;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: #162C7B;
  margin-top: 25px;

}
.mapa {
  width: 423px;
  height: 200px;
  border-radius: 10px;
}
.p-contacto {
  text-align: start;
  margin-bottom: 10px;
   font-size: 16px;
}
.direccion {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
}
.d-direccion {
  font-size: 16px;
  margin-top: 10px;
  text-align: end;
}

/* footer */
.footer {
  background-color: #161616;
  margin-top: 5px;
}
.container-footer {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  display: flex;
  gap: 400px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.p-footer {
  color: white;
  text-align: center;
}
.footer-c {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* CATALOGO.HTML */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* CARRITO MENU */
.product-detail {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background-color: var(--white);
  z-index: 2;
  visibility: hidden;
}
.active{
  visibility: visible;

}
.title-container {
  display: flex;
  margin-bottom: 10px;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p{
  margin-top: 16px;
  margin-bottom: 16px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}


.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-blue);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.primary-button:disabled, .primary-button[disabled] {
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}
.btn-borrar, .btn-restar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn-borrar:hover,
.btn-borrar:focus,
.btn-restar:hover,
.btn-restar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

